
{% for flashMessages in app.session.flashBag.get('success') %}
	{% for message in flashMessages %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}

{% endfor %}

{% for flashMessages in app.session.flashBag.get('error') %}
	{% for message in flashMessages %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}

{% endfor %}
