{% apply inky_to_html|inline_css(source('@styles/admin_mail.css')) %}
<style type="text/css">
	.header {
		background: #8a8a8a;
	}

	.header .columns {
		padding-bottom: 0;
	}

	.header p {
		color: #fff;
		margin-bottom: 0;
	}

	.header .wrapper-inner {
		padding: 20px; /*controls the height of the header*/
	}

	.header .container {
		background-color: #8a8a8a;
	}

	.wrapper.secondary {
		background-color: #f3f3f3;
	}
    .header img {
        max-height : 150px;
    }
</style>

<wrapper class="header" bgcolor="#8a8a8a">
	
		<row class="collapse">
			<columns small="6" valign="middle">
				<img class="float-left" src="{{ email.image('@images/logo.png') }}" alt="Logo">
			</columns>
			<columns small="6" valign="middle">
				<h3 class="text-left">Kasu, la plateforme pour les passionnés de manga.</h3>

			</columns>
		</row>
	
</wrapper>


<container>
	<row>
		
		<columns>
			<h1 class="text-left">Bonjour
				{{ user.pseudo }}!</h1>
		</columns>

		{# ... #}
	</row>
	<row>
		<p>Nous avons traité votre demande, merci de l'intérêt que vous portez à Kasu.</p>
		<p>
			<strong>Notre réponse :</strong>
		</p>
		{{ message.content }}

	</row>
	<h-line>
		<row>

			<h6>Merci de ne pas répondre à ce message.</h6>
			<p>Veuillez utiliser le formulaire de contact disponible ici
			</p>
		</row>
	</h-line>
</container>
<wrapper class="footer" bgcolor="#8a8a8a">
	
		<row class="collapse">

			<columns small="6" valign="middle">
				<h6 class="text-center">Veuillez ne pas répondre à ce mail.</h6>

			</columns>
		</row>
	
</wrapper>

{# ... #}
{% endapply %}
